# === Java / Maven ===
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven Wrapper
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd
dependency-reduced-pom.xml

# === VS Code ===
.vscode/

# === OS spécifiques ===
.DS_Store       # macOS
Thumbs.db       # Windows

# === Sécurité / Config locales ===
*.env
.env.*
*.key
*.pem
*.crt
*.p12